


<div class"container">
	

<h3 class="hborder" align=center>Click on the Team for more detail!</h3>
		</div>
	</div>
</div>
	<ul>
<div class"container">
	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 center">

	<% if @teams.count == 0 %>
	
	    <%= link_to "Create Team", new_team_path, :class => "btn btn-danger"  %>

	<% end %>


	<% @teams.each do |team| %>
 

	<u><a class="btn btn-default" href="<%= team_path team.id%>" role="button"><%= team.name %></a></u>
	<br><br>


	<% end %>
		</div>
	</div>
</div>
	</ul>

