<div class="container">
	<h3 class="hborder" align=center>Click on the Team for more detail!</h3>
	<ul>
		<div class="row">
	  		<div class="col-xs-12 center">
		<% if @teams.count == 0 %>
		    <%= link_to "Create Team", new_team_path, :class => "btn btn-danger"  %>
		<% else %>
			<% @teams.each do |team| %>
				<a href="<%= team_path team.id%>" role="button" class='team_link'>
					<div class="col-xs-12 col-md-3 team_view center">
						 <% if team.image? %>
					      <%= image_tag team.image.thumb, class: 'img-responsive center-block' %>
						<% end %>
					<p><%= team.name %></p> 
					</div>
				</a>
			<% end %>
		<% end %>
			</div>
		</div>
	</ul>
</div>
