<div class="jumbotron center">

<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/8185-200.png" alt="...">
    
    </div>
  </div>

  
  <% if @team.players.any? {|profile| profile.id == current_user.user_profile.id} %>
    
    <span class="label label-danger pull-right">My Team</span>

  <% end %>
  <h1><%= @team.name %></h1>
  <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">View Player</button>

  <% if !@team.players.any? {|profile| profile.id == current_user.user_profile.id} %>

  <%= link_to "Join Team", '/teams/join_team/' + @team.id.to_s, class: "btn btn-success", data: { confirm: "Are you sure you would like to join this team?  If you are on another team, this WILL remove you from that roster." } %>
  
  <% end %>
  </p>
</div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<ul class="list-unstyled center">
			<% @team.players.each do |player| %>
				<li>
					<%= player.name  %>
				</li>
			

			<% end %>
    	</ul>
    </div>
  </div>
</div>