
<body class="event_background">
<div class="title_box"><h1 class"center ">Upcoming Events:</h1></div>
<div class="jumbotron col-xs-12 col-sm-offset- col-sm-5">
	<ul class="list centered">

		
		<% @events.each do |event| %>
			 <% if event.date_time %>
                  <li><%= link_to event.name, event_path(event.id)  %> <%= event.date_time.strftime("%b")  %> <%= event.date_time.strftime("%d")  %> <%= event.date_time.strftime("%Y")  %></li><br>
              <% else %>
                   <li>No Time</li><br>
              <% end %>
		<% end %>


	</ul>
</div>
</body>