<div class="jumbotron">
<div class="media">
  <div class="media-left">

      <img class="media-object" src="https://d30y9cdsu7xlg0.cloudfront.net/png/8185-200.png" alt="...">

  </div>
  <div class="media-body">
    <h1 class="media-heading">Welcome <%= @user_profile.name   %> !</h1>
  	<h2>Phone Number on recond: <%= @user_profile.number  %></h2>
  	<h5>About me: <%= @user_profile.description  %></h5>
  	<p><%= link_to "Edit Profile", edit_user_profile_path(@user_profile.id)  %></p>    
  </div>
</div>

  

</div>