<div class="container">
<% @sport_types.each do |type| %>

<div class="panel panel-default sport-type-panel">
  <div class="panel-heading">
    <h3 class="panel-title center"><%= type.name %></h3>
  </div>
  <div class="panel-body">
    <%= type.description %>
  </div>
</div>
  <% end %>
</div>

