<div class="container">
<h1 class"center">Available Games for Registration:</h1>

<% @sport_types.each do |type| %>
<div class="sport_type_section clearfix">
	<img src="<%= type.url %>" width='100%' height='100%' class="sport_type_image col-xs-12 col-md-4">
	<div class="sport_type_data col-xs-12 col-md-8">
		<h3 class="sport_type_heading"><%= type.name %></h3>
		<p class="sport_type_desc"><%= type.description %></p>		
	</div>
</div>
  <% end %>
</div>

