<!DOCTYPE html>
<html>
<head>
	<meta charset= "UTF-8">
	<Link rel="stylesheet" type="text/css" href="position.css">
</head>

<body>

<header> <div class="pew">
	<code>&#60;Header&#62;</code>
	</div>
</header>

<section><div class="bang">
	<code>&#60;Section&#62;</code>
	</div>
</section>

<aside><div class="pow">
	<code>&#60;Aside&#62;</code>
	</div>
</aside>

<Footer><div class="ouch">
	<code>&#60;Footer&#62;</code>
	</div>
</Footer>


</body>
</html>