<!DOCTYPE html>
<body class="background">
<div class="container">
  <div class="row">

    <div class="col-xs-7 center_box ">
    <h1 class="courier center_box_title">SportHub</h1>
    <div>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ultricies orci. Nullam nec lacus nunc. Donec id felis non nibh bibendum tempor quis in leo. Ut maximus ligula nec ipsum molestie, et vehicula leo rhoncus. Nam blandit id dui id malesuada. Suspendisse maximus augue nunc, et consectetur nisl egestas ut. In cursus arcu mauris, at auctor quam gravida id. Sed vehicula tristique condimentum. Sed gravida vestibulum condimentum.</p>

   <p>Sed gravida, justo eget tincidunt porta, lorem est commodo est, non lobortis felis ligula sit amet diam. Mauris aliquam a eros viverra ultrices. Proin pellentesque quis mauris at pulvinar. Quisque maximus eleifend magna. Sed lacinia, libero et mollis accumsan, erat massa luctus elit, sed porta velit justo in magna. Phasellus commodo, orci posuere tristique finibus, enim nunc dictum risus, vitae viverra lacus lorem vestibulum massa. Quisque semper lacinia venenatis. Ut eget ornare odio. Curabitur eu mauris non lectus rhoncus hendrerit. Vivamus sit amet posuere massa. Sed eget mattis sem. Nunc placerat, ligula sit amet efficitur semper, urna risus tincidunt felis, ut feugiat dolor ipsum eget risus.</p>

   <p>Vestibulum vitae metus id dui tincidunt malesuada. Nulla facilisi. Aenean eget scelerisque enim, ac dignissim lorem. Nulla finibus sapien congue blandit euismod. In vel metus suscipit, vulputate tortor eget, aliquet sapien. Pellentesque dignissim tempor massa a aliquet. Cras eros augue, faucibus vel risus sit amet, porta efficitur nunc. Integer pellentesque ultrices nunc, a iaculis augue. Etiam id iaculis elit. Donec ullamcorper ultrices nibh non sollicitudin.</p>

   <p>Nunc pharetra libero lectus, vitae tincidunt elit fermentum ut. Integer sagittis, justo id varius laoreet, mauris mauris aliquam nibh, vel hendrerit enim mi non est. Donec finibus, diam non fermentum ullamcorper, enim velit vestibulum ante, pellentesque ullamcorper nibh elit quis dolor. Phasellus tempor lorem in egestas suscipit. Proin eget varius diam, eu tristique nunc. Mauris ut augue vitae orci blandit convallis. Aenean vel lectus pulvinar, placerat nulla sit amet, aliquam dui. Fusce sed imperdiet nulla. Morbi malesuada nibh eget ipsum rhoncus congue.</p>





    </div>
    </div>

          <div class="col-xs-4 box">
         <h3>Upcoming Events:</h3>
           <%  @events.each do |event| %>
              <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title"><%= event.date_time.strftime("%b")  %> <%= event.date_time.strftime("%d")  %> <%= event.date_time.strftime("%Y")  %></h3>
                </div>
                <div class="panel-body">
                  <%= event.name %>
                </div>
              </div>
            <% end %>
          </div>


<!--     <div class="col-xs-1"></div> -->

  </div>

</div>
</body>
</html>