// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
    height: 100%;
	background-color: lightgrey;
	border: black;
	margin-bottom: 3%;
}

.center_box {
	height: 100%;
	background-color: lightgrey;
	border: black;
	margin-left: 8%
}